{% extends "layout.html.twig" %}

{% block container %}

    <div class="block-header">

        <ol class="breadcrumb breadcrumb-bg-teal">
            <li><a href="{{ path('homepage') }}">Inicio</a></li>
            <li><a href="{{ path('colecao', { id : categoria.colecao.id, nome : categoria.colecao.nomeFormatado }) }}">{{ categoria.colecao.nome }}</a></li>
            <li class="active">{{ categoria.nome  }}</li>
        </ol>

    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-teal">
                    <h2>
                        Musicas
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover js-basic-example dataTable">
                            <tbody>
                            {% for musica in musicas %}
                                <tr>
                                    <td><a href="{{ path('musica', { id : musica.id, nome : musica.nome }) }}">{{ musica.nomeFormatado }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
