{% extends "layout.html.twig" %}

{% block container %}

    <div class="block-header">

        <ol class="breadcrumb breadcrumb-bg-teal">
            <li><a href="{{ path('homepage') }}">Inicio</a></li>
            <li class="active">{{ colecao.nome  }}</li>
        </ol>

    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-teal">
                    <h2>
                        Categorias
                    </h2>
                </div>
                <div class="body">
                        {% for categoria in categorias %}
                            <p>
                                <a
                                   href="{{ path('categoria', { id : categoria.id, nome : categoria.nome|lower }) }}"
                                   title="{{ categoria.nome }}">{{ categoria.nome|slice(0, 30) }}</a>
                            </p>
                        {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
