{% extends "layout.html.twig" %}

{% block container %}

    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header bg-teal">
                    <h2>
                        Meus Grupos
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    {% for grupo in grupos %}
                        <p>
                            <a href="{{ path('grupo', { id : grupo.id, nome : grupo.nome }) }}">{{ grupo.nome }}</a>
                        </p>
                    {% endfor %}
                    <p><a href="{{ path('grupos') }}">mais...</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header bg-teal">
                    <h2>
                        Minhas Playlists
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-target="#addplaylist" data-toggle="modal" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    {% for playlist in playlists %}
                        <p>
                            <a href="{{ path('playlist', { id : playlist.id, nome : playlist.nome }) }}">{{ playlist.nome }}</a>
                        </p>
                    {% endfor %}
                    <p><a href="{{ path('playlists') }}">mais...</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header bg-teal">
                    <h2>
                        Meus Favoritos
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    {% for favorito in favoritos %}
                        <p class="text-capitalize"><a href="{{ path('musica', { id : favorito.musica.id, nome : favorito.musica.nome }) }}">{{ favorito.musica.nome }}</a></p>
                    {% endfor %}
                    <p><a href="{{ path('favoritos') }}">mais...</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-teal">
                    <h2>
                        Cole&ccedil;&otilde;es
                    </h2>
                </div>
                <div class="body">

                    {% for colecao in colecoes %}
                        <a class="btn btn-link" href="{{ path('colecao', { id : colecao.id, nome : colecao.nome|lower }) }}">{{ colecao.nome }}</a>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-teal">
                    <h2>
                        Categorias
                    </h2>
                </div>
                <div class="body">
                    {% for categoria in categorias %}
                            <a class="btn btn-link" href="{{ path('categoria', { id : categoria.id, nome : categoria.nome|lower }) }}"
                                    title="{{ categoria.nome }}">{{ categoria.nome|slice(0, 30) }}</a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addplaylist" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Adicionar Playlists</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Nome: </label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="email_address_2" class="form-control" placeholder="Nome da nova Playlist">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect">Criar</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                    vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                    Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                    nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                    Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
